<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pokedex</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <header>
       
      <nav class="navbar bg-light">
        <div class="container-fluid">
          <h1 class="display-1">Pokedex</h1>
          <a class="btn btn-outline-success" href="/pokemons/new">Add New Pokemon</a>
          <a class="btn btn-outline-info" href="/pokemons">Back</a>
        </div>
      </nav>

    </header>
    <main>
      <nav>
        
      </nav>
      <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <h1 class="card-text mb-3 justify-content-center"><%=pokeData.name %></h1>
                  <img class="bd-placeholder-img card-img-top" src="<%=pokeData.img %>" alt="a picture of <%=pokeData.name %>">

                  <div class="card-body">
                      <div class="d-flex flex-column justify-content-start align-items-star mb-3">
                        <h3>Type: </h3>
                        <p><%=pokeData.type[0] %></p>
                        <p><%=pokeData.type[1] %></p>
                      </div>
                      <div class="d-flex flex-column justify-content-start align-items-star mb-3">
                        <h3>Stats: </h3>
                        <p>HP: <%=pokeData.stats.hp %></p>
                        <p>ATT: <%=pokeData.stats.attack %></p>
                        <p>DEF: <%=pokeData.stats.defense %></p>
                        <p>SP ATT: <%=pokeData.stats.spattack %></p>
                        <p>SP DEF: <%=pokeData.stats.spdefense%></p>
                        <p>SPEED: <%=pokeData.stats.speed%></p>
                      </div>
                  </div>
                </div>
              </div>  
            </div> 
        </div> 
    </div>
 
  </body>
</html>
